 *{
    margin: 0;
    padding: 0;
}

table{
    
box-shadow: 
rgba(0, 0, 0, 0.25) 0px 54px 55px,
rgba(0, 0, 0, 0.12) 0px -12px 30px, 
rgba(0, 0, 0, 0.12) 0px 4px 6px,
 rgba(0, 0, 0, 0.17) 0px 12px 13px, 
 rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 200px;
    width: 600px;
    background-color:rgba(0, 0, 0, 0.356) ;
    padding: 50px;
    margin: auto;
    margin-top: 30px;
    border-spacing: 7px;
    
}
td {
    border-radius: 40em;
    text-align: center;
    border: 2px solid black;
    color: black;
    font-size: 40px;
    margin: 40px;
    height: 10px;
    gap: 10px;
    margin-left: 10px;
    

}

td:hover{
    /* transform: scale(1.1); */
    background-color: rgba(116, 59, 59, 0.425);
}
.A{
    background-color: rgb(107, 84, 42);
}
td.A:hover{
      background-color:rgb(113, 117, 53)
}

.head{
    border-radius: 0px;
    height: 60px;
    column-span: 3;
    rows
}